//- Will always assume its a div if you leave the element type out
//- nest by indenting 
//- when writing in attribute its like JS `${}`
//- when writing text its "#"
//- add '-' to do js right in the file
extends layout 
block content 
  div.wrapper
    - const upDog = dog.toUpperCase()
    p.hello Hello, My dogs name is #{upDog}  
    span#yo Yo!!
    img(src="dog.jpeg" alt=`Dog ${dog}`) 

  h2
    | Hello 
    em How are you?

