extends layout

block content
    .inner
        h2= title
        .map
            .autocomplete 
                input.autocomplete__(type="text" placeholder="Search for Anything" name="geolocate")
            #map 
                p Loading...